/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Arial", "Verdana", sans-serif;
}

.social-link,
.in-additional__button,
.button,
.logo__title,
h4,
h3,
h2,
h1 {
  font-family: "Georgia", "Times", "Times New Roman", serif;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.4rem;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 5.7rem;
  color: #FFFFFF;
  margin: 0;
}

h2 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0.06em;
  margin: 0;
  text-align: center;
  color: #545454;
}

h3 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 2.5rem;
  margin-bottom: 2.4rem;
}

h4 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem;
  letter-spacing: 0.06em;
  color: #545454;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 3rem 0;
}

.logo {
  display: flex;
  flex-direction: column;
}

.logo__title {
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  font-style: normal;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  margin-bottom: 1rem;
}

.logo__subtitle {
  font-family: "Arial";
  font-size: 1.32rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.not-only {
  background: url(../images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 18rem;
}

.not-only__text {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #CDCDCD;
  margin: 0 0 4.2rem 0;
}

.not-only__inner {
  display: flex;
  justify-content: space-between;
}

.not-only__left {
  max-width: 46rem;
  padding-top: 16.3rem;
}

.not-only__title {
  max-width: 31rem;
  margin-bottom: 4.2rem;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu__item {
  list-style: none;
}

.menu__item:not(:last-child) {
  margin-right: 35px;
}

.menu__link {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  display: inline-block;
  text-decoration: none;
  color: #CDCDCD;
  transition: all 0.3s;
}

.menu__link_active {
  color: #F6F6F6;
  border-bottom: 0.3rem solid #F1CDB3;
}

.menu__link:hover {
  color: #FAFAFA;
}

.button {
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
  display: inline-block;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 1.5rem 4.5rem;
  background: #F1CDB3;
  border-radius: 100px;
  transition: all 0.3s;
}

.button_transparent {
  background-color: transparent;
  border: 2px solid #FDDCC4;
}

.button:hover {
  background-color: #FDDCC4;
}

.about {
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.about__content {
  display: flex;
  justify-content: center;
  column-gap: 12rem;
}

.about__text {
  max-width: 43rem;
  padding: 1.4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__title {
  max-width: 37rem;
  text-align: left;
}

.slider__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.slider__line {
  display: flex;
  justify-content: space-evenly;
  column-gap: 9rem;
}

.card {
  text-align: center;
  background-color: #FAFAFA;
  padding-bottom: 3rem;
  border-radius: 0.9rem;
  transition: all 0.3s;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}

.arrow-img {
  display: block;
  width: 100%;
}

.slider__button {
  padding: 2.1rem 1.7rem;
  border: 2px solid #F1CDB3;
  border-radius: 100%;
  background-color: transparent;
  transition: all 0.3s;
}

.slider__button:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.our-friends {
  background-color: #F6F6F6;
  text-align: center;
  padding: 8rem 0 10rem 0;
}

.our-friends__title {
  margin-bottom: 6rem;
}

.help__list {
  margin: 0;
  display: flex;
  gap: 55px 120px;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.help {
  padding: 8rem 0 10rem 0;
}

.help__title {
  margin-bottom: 6rem;
}

.help__item {
  text-align: center;
}

.help__item-title {
  margin: 3rem 0 0 0;
}

.help__item-image {
  display: block;
  height: 6rem;
  margin: auto;
  width: 60px;
}

.ico {
  background: url(../images/credit-card.svg);
  width: 30px;
  height: 23px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 1.5rem;
}

.in-addition {
  padding: 8rem 0 10rem 0;
  background-color: #F6F6F6;
}

.in-additional__button {
  display: inline-flex;
  align-items: center;
  margin-bottom: 2rem;
  border-radius: 0.9rem;
  padding: 1rem 1.5rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  /* color-dark-l */
  color: #545454;
}

.in-addition__descr {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.8rem;
  /* color-dark-m */
  color: #B2B2B2;
}

.in-addition__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.in-addition__left {
  max-width: 38rem;
}

.in-addition__title {
  text-align: left;
  max-width: 30rem;
  margin-bottom: 2rem;
}

.in-addition__subtitle {
  margin-bottom: 2rem;
  margin-top: 0;
}

.footer {
  background: url(../images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 40px;
}

.contacts__title {
  color: #FFFFFF;
  text-align: left;
  letter-spacing: 0.059em;
  margin-bottom: 40px;
}

.location__title {
  color: #FFFFFF;
  text-align: left;
  letter-spacing: 0.059em;
  margin-bottom: 34px;
}

.social-link {
  display: flex;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.social-link:hover {
  filter: brightness(1.2);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
}

.footer__location {
  display: flex;
  flex-direction: column;
}

.contacts {
  max-width: 278px;
  padding-top: 16px;
}

.location {
  max-width: 302px;
  padding-top: 16px;
}

.social-link {
  display: flex;
  align-items: center;
}

.social-link:not(:last-child) {
  margin-bottom: 40px;
}

.location__link:not(:last-child) {
  margin-bottom: 32px;
}

.ico-link {
  width: 40px;
  display: block;
  background-repeat: no-repeat;
  margin-right: 20px;
  flex-shrink: 0;
}

.ico-link_phone {
  background-image: url(../images/phone.svg);
  height: 32px;
}

.ico-link_mail {
  background-image: url(../images/mail.svg);
  height: 32px;
}

.ico-link_pin {
  background-image: url(../images/pin.svg);
  width: 22px;
  height: 32px;
}

/*# sourceMappingURL=style.css.map */