%hambirger-line {
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $color-primary;
}

.hamburger {
    display: none;
    position: relative;
    width: 30px;
    height: 22px;
    transition: all .5s;
    @include media-hamburger {
        display: inline-block;
        order: 2;
        z-index: 2;
    }
    &::before {
        @extend %hambirger-line;
        content: "";
        top: 0;
        left: 0;
    }
    &::after {
        @extend %hambirger-line;
        content: "";
        bottom: 0;
        left: 0;
    }
}

.hamburger__line {
    @extend %hambirger-line;
    top: 50%; 
    transform: translate(0, -50%);
}
.rotate {
    transform: rotate(90deg);
}
.unscroll{
    overflow:hidden;
}
