.help__list {
    margin: 0;
    display: flex;
    gap: 55px 120px;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    padding: 0;
    list-style: none;
    @include  media-laptop-small {
        gap: 55px 0;
        padding: 0 10px;
    }
    @include media-slider-width  {
        justify-content: space-between;
        gap: 30px 0;
        padding: 0 5px;
    }
}

.help {
    padding: 8rem 0 10rem 0;
    @include media-mobile-big{
        padding: 42px 0 42px 0;
    }
}

.help__title {
    margin-bottom: 6rem;
    @include media-mobile-big{
        margin-bottom: 43px;
    }
}
.help__item {
    text-align: center;
    @include  media-laptop-small {
        
        flex-basis: calc(100%/3);
    }
    @include media-slider-width  {
        flex-basis: 130px;
    }
}

.help__item-title {
    margin: 3rem 0 0 0;
    @include media-slider-width  {
        margin-top: 2rem;
    }
    @include media-mobile-big{
        @include font($size: 1.5rem, $line-height:1.7rem);
    }
}

.help__item-image {
    display: block;
    height: 6rem;
    margin: auto;
    width: 60px;
    @include media-slider-width  {
        max-height: 50px;
        width: 100%;
        max-width: 50px;
    }

}
