.ico {
    background: url(../images/credit-card.svg);
    width: 30px;
    height: 23px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-right: 1.5rem;
}
.in-addition {
    padding: 8rem 0 10rem 0;
    background-color: $color-light-l;
    @include media-mobile-big{
        padding-top: 40px;
        padding-bottom: 42px;
    }
}

.in-additional__button {
    display: inline-flex;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 0.9rem;
    padding: 1rem 1.5rem;
    @extend %font-add;
    @include font($size: 2rem, $line-height:2.3rem);

letter-spacing: 0.06em;

/* color-dark-l */

color: $color-dark-l;
    @include media-mobile-big{
        @include font($size: 1.5rem, $line-height:1.7rem);

    }

}

.in-addition__descr {
    @include font($size: 1.2rem, $line-height:1.8rem, $style: italic);
   

/* color-dark-m */

color: $color-dark-m;
}

.in-addition__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    @include  media-laptop-small {
        flex-direction: column;
        gap: 6rem;
    }
    @include  media-mobile-big {
        gap: 44px;
    }
}

.in-addition__left {
    max-width: 38rem;
    @include  media-mobile-big {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
    padding: 0 9px;
    }
}

.in-addition__title {
    text-align: left;
    max-width: 30rem;
    margin-bottom: 2rem;
    @include  media-mobile-big {
        text-align: center;
        max-width: 220px;
    }
}

.in-addition__subtitle {
    margin-bottom: 2rem;
    margin-top: 0;
}

.in-addition__image {
    max-width: 100%;
    @include  media-laptop-small {
        order: 2;
    }
    @include media-mobile-big {
        padding: 0 20px;
    }
}