.our-friends {
    background-color: $color-light-l;
    text-align: center;
    padding: 8rem  0 10rem 0;
    @include media-mobile-big{
        padding: 42px 0 42px 0;
    }
}

.our-friends__title {
    margin-bottom: 6rem;
    @include media-mobile-big{
       margin-bottom: 42px;
    }
}