.slider__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6rem;
    @include media-tablet-small {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 80px;
    }
    @include media-mobile-big {
        margin-bottom: 42px;
    }
    
}

.slider__line {
    display: flex;
    justify-content: space-evenly;
    column-gap: 9rem;
    
    @include media-slider-width {
        width: 100%;
    }
}

.card {
    text-align: center;
    background-color: $color-light-s;
    padding-bottom: 3rem;
    border-radius: 0.9rem;
    transition: all 0.3s;
    &:hover {
        cursor: pointer;
        box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
        background-color: $color-light-xl;
    }
    // @include  media-laptop-small {
    //     &:nth-child(3n) {
    //         display: none;
    //     }
    // }
    // @include  media-tablet-small {
    //     &:nth-child(2n) {
    //         display: none;
    //     }
    // }

}
.arrow-img {
    display: block;
    width: 100%;
}

.slider__button {
    padding: 2.1rem 1.7rem;
    border: 2px solid $color-primary;
    border-radius: 100%;
    background-color: transparent;
    transition: all .3s;
    flex-shrink: 0;
    &:hover {
        background-color: $color-primary-light;
        border: 2px solid $color-primary-light;
    }
}

.slider__button_arrow-prev {
    @include media-slider-width  {
        order: 2;
    }
}

.slider__button_arrow-next {
    @include media-slider-width  {
        order: 3;
    }
}



.carousel-wrapper {
    max-width: 990px;
    overflow: hidden;
}

.carousel {
    display: flex;
    position: relative;
    left: -1080px;
    gap: 90px;
    

}


@keyframes move-right {
    from {
        left: -1080px;
    }

    to {
        left: -2160px;
    }
}

.transition-right {
    animation-name: move-right;
    animation-duration: 2s;
}

@keyframes move-left {
    from {
        left: -1080px;
        ;
    }

    to {
        left: 0px;
    }
}

.transition-left {
    animation-name: move-left;
    animation-duration: 2s;
}

.hidden {
    display: none;
}

.left {
    
}
